*{
    margin: 0;
    padding: 0;
   

}
header{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container{
    position: relative;
    overflow: hidden;
}
.banner{
    position: absolute;
    position: absolute;
    top: 5%;
    left: 5%;
    color: rgb(79, 85, 121);
    font-size:x-large;
    font-family: Roboto;
    text-align: left;
}
.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
.banner p{
    font-size: large;
}
.inicio{
    position: absolute;
    top: 15%;
    left: 5%;
    color:  rgb(26, 113, 119);
    font-family: Crimson;
    justify-content: left;
    
   
}
.meio{
    position: absolute;
    top: 40%;
    left: 5%;
    color:  rgb(26, 113, 119);
    font-family: Crimson;   
}
.agora{
    position: absolute;
    top: 70%;
    left: 5%;
    color:  rgb(26, 113, 119);
    font-family: Crimson;
}
.link{
    position: absolute;
    top: 95%;
    left: 5%;
    color:  rgb(26, 113, 119);
    font-family: Crimson;
}
#all{
    height:100%;
  
      width:100%;
  
      margin:auto;
  
  }